* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "inter", sans-serif;
    background-color: rgb(240, 216, 186);
    min-height: 80%;
}

header {
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    min-height: 10%;
}

.main-index {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
}

.index-h1{
    color: rgb(219, 111, 9);
    padding-bottom: 1rem;
    margin-top: 1rem;
}

.img-logo1 {
    width: 70%;
    margin-top: 1rem;
}


.all-btn {
    width: auto;
    display: flex;
    padding: 10px 6px;
    margin: 10px 20px;
}


.nav-btn {
    background-color: rgba(233, 120, 14, 0.801);
    text-decoration: none;
    font-size: 16px;
    width: 85px;
    text-align: center;
    padding: 8px 1px;
    left: 10px;
    margin-top: 10px;
    margin-left: 10px;
    border: 1px solid black;
    font-weight: bold;
    border-radius: 5px;
}

.nav-btn:link, .nav-btn:visited {
    color: #000000;
}

.nav-btn:hover,
.nav-btn:active {
    background-color: rgb(240, 216, 186);
}

.btn-about {
    display: none;
}

.div-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
}

.img-title {
    width: 60%;
    border-radius: 2rem;
    border: 1px solid black;
}

.div-index {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 4rem;
}

.img-div {
    width: 35%;
    border-radius: 1rem;
    margin-bottom: 3rem;
    border: 1px solid black;
}

.div-p {
    width: 40rem;
    font-weight: bold;
    text-align: center;
}


/* ABOUT */

.about-h1 {
    color: rgb(219, 111, 9);
    padding-bottom: 1rem;
    margin-top: 1rem;
}

.about-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

.img3 {
    width: 40%;
    margin-top: 3rem;
    border-radius: 2rem;
}

.p1, .p2, .p3 {
    width: 30rem;
    font-weight: bold;
}

.div1, .div2, .div3 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 3rem;
    flex-wrap: wrap;
}


/* CONTACT */

.text {
    color: rgb(233, 125, 54);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 60%;
    margin-top: 2rem;
}

.contact-h3 {
    color: #000000;
}

.main-title {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-img {
    width: 70%;
    margin-top: 4rem;
    border-radius: 2rem;
}

.contact-p1, .contact-p {
    display: flex;
    justify-content: space-around;
    margin-top: 4rem;
    margin-bottom: 2rem;
    flex-wrap: wrap;
}

.p:link, .p:visited{
    color: black;
    font-weight: bold;
}

/* TABLE */

.table-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

.table-h1 {
    color: rgb(219, 111, 9);
    padding-bottom: 1rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

table, th, td, tr {
    border: 2px solid rgb(0, 0, 0);
    background-color: rgba(230, 120, 17, 0.322);
    text-align: center;
    border-collapse: collapse;
    padding: 25px;
    width: 35rem;
    
}

.table {
    margin-top: 5rem;
}


/* LIST */

.list-h1 {
    color: rgb(219, 111, 9);
    padding-bottom: 1rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.img-list {
    width: 40%;
    border-radius: 1rem;
    margin-top: 4rem;

}

.list-main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.div-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

li {
list-style-position: inside;
}

.li2{
    list-style-type: lower-alpha;
}

.ol-list {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    list-style-position: inside;
}

/* FORMULARIOS */

.form-h1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
    margin-bottom: 5rem;
}

.form-container{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 7rem;
    margin-top: 2rem;
    flex-wrap: wrap;
}

.img-form1 {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.img-form2 {
    width: 80%;
    border-radius: 2rem;
    border: 2px solid #e767118f;
    margin-top: 2rem;
}

.div-form {
    width: 20rem;
    display: flex;
    flex-direction: column;
}

form {
    background-color: #0000001f;
    border-radius: 1rem;
    border: 1px solid black;
}
h4 {
    font-size: 16px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 2rem;
    background-color: #e767118f;
    border-radius: 1rem;
}

.pay-p {
    font-size: 14px;
}

input, select {
    width: 20rem;
}

label, option {
    margin-top: 8px;
}

.payment1 {
    width: 12px;
}

.btn-form{
    text-align: center;
    width: 20rem;
}

.btn-form1 {
    width: 5rem;
    background-color: #000000;
    color: white;
    border-radius: 1rem;
    border: 2px solid rgb(233, 117, 8);
}

iframe {
    width: 20rem;
    height: 10rem;
    border-radius: 1rem;
}

footer {
    background-color: #00000060;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    min-height: 10%;
}

textarea {
    height: 220px; 
    width: 320px;
}



@media (min-width: 320px) and (max-width: 767px) {
    nav a, .all-btn {
        width: 100%;
        flex-direction: column;
        flex-wrap: wrap;
    }

    body{
        width: 100%;
        flex-wrap: wrap;
        
    }
    header {
        height: 100%;
        flex-wrap: wrap;
        align-items: center;
    }
    main, .main-index, .div-index {
        height: 100%;
        flex-wrap: wrap;
    }
    footer {
        margin: auto;
        width: 100%;
        flex-direction: column;
        justify-content: flex-start;
        gap: 10px;
    } 

    .p1, .p2, .p3, form,
    .img-form1, .ol-list, .div-p {
        width: auto;
    }
    .table, table, th, td, tr {
        width: auto;
        padding: 0;
    }

}